@tailwind base;
@tailwind components;
@tailwind utilities;

pre,
table {
  margin-top: 10px;
  margin-bottom: 5px;
}

tr,
td,
th {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  word-wrap: break-word;

  font-size: small;
}

th {
  background: #0a2c19;
  /* text-emphasis: bold; */

  border-bottom: 1px solid #1bb666;
}

td {
  background: #17192f;
  border: 1px solid #28294d;
}

h1 {
  color: #1bb666;
}

h2 {
  color: #1bb666;
}

h3 {
  color: #1bb666;
}

h4 {
  color: #1bb666;
}

h5 {
  color: #1bb666;
}

a {
  /* underline */
  text-decoration: underline;
  color: #a9bbe1;
}

a:hover {
  color: #7c93c8;
}

li,
ul,
ol {
  list-style-type: disc;
  list-style-position: inside;
}

blockquote {
  display: block;
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 20px;
  /* margin-left: 20px; */
  padding-right: 20px;
  font-style: italic;
  color: #fdfcfb;
  background-color: #4e1014;
  border-left: 8px solid #d22f53;
  word-wrap: break-word;
}

code {
  font-family: monospace;
  color: #a9bbe1;
  font-size: 95%;
}